
@{
    ViewData["Title"] = "AboutMe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sobre mí</h1>
<h2>Soy Giovanni García R.</h2>
<p>Soy Instructor de desarrollo de software con .NET en Servicio Nacional de Aprendizaje SENA</p>
<img src="http://www.amarusystems.com/img/Blog/Net_Core_html_52110970.png" alt="LogoNetCore" />



